
* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
    min-height: 100%;
}
body {
	font-family: 'latothin',Arial, sans-serif;
    font-size: 18px;
}
html {
    overflow: hidden;
}
#main {
    position: relative;
    top: 0;
    left: 14vw;
}
header-left {
    float: left;
    width: 15vw;
    height: 100vh;
    clear: both;
}
form-signin {
    position: absolute;
    top: 45vh;
    left: 5vw;
    z-index: 5;
    border: 1px solid black;
    background: white;
    
}

    



  



                /* DELETE THIS CSSS!!!!!!!!!!!! */

                




/* .header__left {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	box-shadow: 5px 0 5px #ebebeb;
	min-height: 100%;
	z-index: 10;
}
.header__left__logo {
	padding: 10px 0 0 0;
}
.header__left__icon {
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	
}
.header__left__icon__item {
	text-align: center;
	padding: 30px 0;
}
.header__left__icon__item:last-child {
	position: absolute;
	bottom: 0;
	padding-bottom: 40px;
}
.icon-home, .icon-basket, .icon-search, .icon-in {
	text-decoration: none;
	font-size: 20px;
}

.icon-home:hover::before {
	content: "\e901";
  	color: #0023ff;
}
.icon-basket:hover::before {
	content: "\e900";
  	color: #0023ff;
}
.icon-search:hover::before {
	content: "\e903";
  	color: #0023ff;
} 
.icon-in:hover::before {
	content: "\e902";
  	color: #0023ff;	
}

#btn-open-formRegistration, #btn-logIn {
	padding: 30px 0;
	text-decoration: none;
	color: black;
	transition: 200ms linear;
}

#btn-open-formRegistration:hover {
	transform: scale(1.2);
}
#btn-logIn:hover {
	transform: scale(1.2);
}
.login-user {
	display: none;
} */

.header__right {
	position: fixed;
	top: 0;
	right: 0;
	min-width: 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	box-shadow:  0 5px 5px #ebebeb;
	min-height: 100%;
	z-index: 10;
	transition: 200ms ease;
	transform: translateX(100%);
}
.header__right-btn {
	position: absolute;
	top: 8%;
	right: 2%;
	min-width: 50px;
	min-height: 50px;
	border-radius: 50%;
	background-color: #fff;
	z-index: 20;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.lines {
	position: absolute;
	top: 35%;
	background-image: url(../media/images/hamburger.png);
	min-width: 30%;
	min-height: 30%;
	background-size: cover;
	
}
.btn-active + .header__right {
	transform: translateX(0);
}
.btn-active>.lines {
	background: url(../media/images/hamburger-cross.png);
}
.header__right__nav {
	font-family: 'latoregular', Arial, sans-serif;
	font-size: 12px;
}
.header__right__nav__list {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	min-height:100vh;
	justify-content: center;
}
.header__right__nav__list__item {
	padding: 15px 25px;
}
.header__right__nav__list__item:last-child {
	position: absolute;
	bottom: 0;
	left: 13%;
	align-self: center;
	padding-bottom: 40px; 
}
.header__right__icon__item__link {
	text-decoration: none;
	color: #c1c1c1;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	transition: 200ms ease;
}
.header__right__icon__item__link:hover {
	border-bottom: 2px solid #c1c1c1;
	transform: translateX(-20px);
}
.header__right__nav__list__item:last-child>.header__right__icon__item__link {
	color: #0023ff;
	border-bottom: 2px solid #0023ff;
}
.header__right__nav__list__item:last-child>.header__right__icon__item__link:hover {
	transform: scale(1.1, 1.1);
}

.living-room--link:after {
	content: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAaCAYAAACtv5zzAAAA3ElEQVRIie2WIQ7CMBSGP2AWS7AEJAkXKAmGe6AIV8BxAxSeC2CwGARnIBVgOAAKSyCPlGQLtFu7jSD2maV9zf/37V9eVtNar4AZUKd4tmLwAM7AwSLfAwbAxtNeAd3ILER8Yjko+wtH3cZaDMp4LQmijOcawMhTu01JwSbI2sEd2HtqvzJzGYyBi6foBy6Dfl5xUjJYArsyDQqhMkjl/RUpMzu+IcOu5ajbUD/tID5NO8AUmJt14dP0Bpzy3DqOK4OheUoGzVCDv8ogiCqDVHz+KoLI0sEVOAapA09YBCZeIBC7TgAAAABJRU5ErkJggg==');

	padding-left: 5px;
}
.office--link:after {
	content: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAYAAACXtf2DAAABD0lEQVQ4je2UsWoCQRCGv5ODpLCQawMhKVJZCQYtIqRIkcLCPk+QTsHnEB9BEFIp6hPYaGUTQchBihTaJ2BxjYIsrMmwccHFFRv/amb27v/2bnY2iOMYoAL0+K8B0LKs7aMgFA/NgJLIX4GCjsdA2cH4GpiqQALWwBOQ1vmlWFsBPw6AzDYIjYWOiKsOhlalfJi4AmrA1TEBE+DbF8DsgdJoR+3Bscm/G5cA9VuaIs/pLxkCeVFXM3NnMf4E+rKgABc67hpH8wP4Am4NkwRYWgCJkWfUJKsBy1peOFSLUJs3gLZn8xegvu3BHHj3DHhENPlZjrcnFSUgAm48AyIJeDOOqA+pu+z+JHfRGfAnYAM+CyeVGq9K/gAAAABJRU5ErkJggg==');
	padding-left: 5px;
}
.for-kids--link:after {
	content: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAATCAYAAACKsM07AAABG0lEQVQ4je3UMSvFYRQG8N/lcgeS2BSzlLJYjTJJ2SyklEmKxXcw+AgsMpiNMvgAJt2FriglRBFuRG+df/271vdOnOV9Op33ed7OeZ9Tqdfr39jDkryxi8WOzKS/ohqJGZygF194Qw1deIm6HjyjggE8xN3BEh6ImsQxqiRwik2s4waHmMYYduJcjpo+HJRaelTCKb8VHNuYLwTSKxt4wn3gOwwF7i/VJNwMrAW/B3kj6rV9Bv8Cf0CgWBWPuA5ffIdROsNUn9HKanzJlOvGR3DUWnAzOIaT8QofXGA/8+MXygLn4dicMYHJauyOWZxlFhjBaxJYwWr0PGekue4mgSmMx+ByRtppt8Uv2sBlZoE1XBVDPm7DDOZQ+QGTVkoMioAJfQAAAABJRU5ErkJggg==');
	padding-left: 5px;
}
.kitchen--link:after {
	content: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAASCAYAAABB7B6eAAABeUlEQVQ4jbXUMUiWURQG4Kc/MTKRmiqxlDaFiIIo50AkpEWiwRysJRzCCJdaGgWXhmisrbXFIQonF0FwCvszCKOpxRyEKNLixDG+PvLXzx8PfPDe+977vueee79zoF6vn8AVXEWvf2MGH3EGQyXuHd4kvlvivuMJZsNgBd32Jz7VUvwBjuXXm6fZGo/gZOKzGChwozie+EJWYosLze5a5v0Na/m1oacwDtGNxO04VeDOZzkCH0VngQtNUaJfWMBShSIdwml8aLCmDxdbcvAKzyoYdGECjxqsuVU0WMVKBYOI9R32hKaW0mRc4EN83WbTEQxXyaJsEK/nHhYLc+fwNi97LP+Jtb0aRGwW8DVM4kWe7nOV7CNqDbgQv4+XGMSNknlTBpcwjqe4jOv4UVXcf0r0BXewHH0k3/p8mkmzx80YTKMfB7dZ/zqfZs9eDX5irkqGuzU4nL1kt9GB1h32hOafXrSv7TpOEBcXtb+Zk+8x1YTo87+I278BKLdPkBzXZ3oAAAAASUVORK5CYII=');
	padding-left: 5px;
}
.accesories--link:after {
	content: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAABZklEQVQ4jbXTsUuVYRTH8Y9ZaYjSlCJKbUIKSqTi0KKz3MXWFnFqaWhxa6sghdC/wCEaGhpcLFBDEUShNJC7GEKETRHWoC7FA+fKy+W9vZG37/I853l5z++c33mehnK5/As7GFBfPqD/QlXKy5l9B4arvt9GZyZuwx001irtYmbfjVWMoRVv8SPW+3iMu2hBCV+wglPsYwKTaMejPIHPeIZ1XMJUCL5BGd9xC0NYjMQzeI4F7OJKFHhG3gxu4hifIm7CILbjPHEjuvwYcQNGsBeFqMwg20GFvar4JLrKcpCZWeokFbmRN4PqIdciWdYT/lZIyV8V/VgkkJI8xVe8Dp/fYzSSjxcJ5FmU5QWuoQ+H4XVKuhRW/jyvwBxe4knM4SruYS0uQ3ORQJFF79CLrXhkqZsHYVEpc6v+uYPEN8znnG+GyB/521tUi+X/LVBIsugofK48nnrRlexNAtOYxfU6Cxzh4W9VYEmgeZOE7QAAAABJRU5ErkJggg==');
	padding-left: 5px;
}
.main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 8;
	text-transform: uppercase;
	min-width: 80%;
}
.main__title {
	position: absolute;
	top: 0;
	left: 16vw;
	z-index: 2;
	font-family: 'latoblack', Arial, sans-serif;
	color: #e9e9e9;
	font-size: 18vw;
}

.main__wrap {
	position: absolute;
    top: 12vh;
    left: 31vw;
    z-index: 3;	
    text-align: center;
}
.main__wrap__name {
	font-family: 'latothin', Arial, sans-serif;
	font-size: 10vw;
	padding-bottom: 10px;
}

.main__wrap__tagline {
	font-family: latolight, Arial, sans-serif;
	font-size: 2.4vw;
	padding: 10px 0 25px 0;
}
.main__wrap__btn {
	text-decoration: none;
	font-family: 'latoblack', Arial, sans-serif;
	font-size: 0.8rem;
	padding: 5px 10px;
	color: #fff;
	background-color: #0023ff;
	border-radius: 20px;
}
@media (max-width: 768px) {
	.header__right-btn {
		top: 3%;
	}
}


form-registration {
	position: absolute;
	top: 0;
	left: 30vw;
}

my-form {
	    position: absolute;
	    top: 60vh;
	    left: 15vw;
	    z-index: 10;
		background-color: white;
		
}